<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <title>Soham Parekh</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="resources/libraries/highlightjs-9.4.0.min.css">
  <link id="rotate" rel="stylesheet" type="text/css" href="resources/styles/androidstudio.css">
  <link rel="stylesheet" href="resources/style.css">
</head>
<body>   
  <pre>
  <code>    
  <div class="wrapper">
  <h1 id="solarize" class="spin" style="color: rgb(181, 137, 0);">☀</h1>
  </div>
  &lt;!DOCTYPE html&gt;
  &lt;html lang=&quot;en&quot;&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;Soham Parekh&lt;/title&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;highlightjs-9.4.0.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;<span id="theme">androidstudio.css</span>&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot;&gt;
  &lt;/head&gt;
  &lt;body&gt;
    <span id="bio">&lt;span id=&quot;bio&quot;&gt;Bio<a class="dots d1">...</a>&lt;/span&gt;</span>
    <div id="bioDiv">
    &lt;pre class="About-Soham"&gt;
      Welcome to my personal space on the Internet! I am
      a Software Developer and the founder of <a href="#"><u>DevStation</u></a>. 
      I have worked on a large number of projects 
      spanning a wide range of technologies like Python, 
      Java, Javascript, NodeJS, PHP, Electron, 
      Django and many more! I am pursuing my 
      B.E. in Computer Engineering 
      from Dwarkadas J. Sanghvi College of Engineering.

      I run a weekly <a href="#"><u>blog</u></a> and love teaching and mentoring 
      juniors to become better developers! 
      In my spare time, I love playing music, 
      working on random projects, breaking a sweat 
      at the local iron bar(gym),
      and reading Manga. I am extremely partial 
      to a warm cup of ☕️. I also like to sketch and 
      you can find my little collection <a href=""><u>here</u></a> 
      if you want to check it out! 

      If you have any questions or 
      just want to stop by for a joke, 
      feel free to <a href="mailto:soham.parekh1998@gmail.com"><u>mail</u></a> me!
    &lt;/pre&gt; 
    </div>

    <span id="skills">&lt;span id=&quot;skills&quot;&gt;Skills<a class="dots d2">...</a>&lt;/span&gt;</span>
    <div id="skillsDiv">
    &lt;ul class="Languages & OS"&gt;
      &lt;li&gt;C&lt;/li&gt;
      &lt;li&gt;C++&lt;/li&gt;
      &lt;li&gt;Python&lt;/li&gt;
      &lt;li&gt;Java&lt;/li&gt;
      &lt;li&gt;Javascript&lt;/li&gt;
      &lt;li&gt;Windows&lt;/li&gt;
      &lt;li&gt;Linux&lt;/li&gt;
      &lt;li&gt;OSX&lt;/li&gt;
    &lt;/ul&gt; 

    &lt;ul class="Database Technologies"&gt;
      &lt;li&gt;MySQL&lt;/li&gt;
      &lt;li&gt;Oracle&lt;/li&gt;
      &lt;li&gt;MongoDB&lt;/li&gt;
      &lt;li&gt;Sequelize&lt;/li&gt;
      &lt;li&gt;Redis&lt;/li&gt;
      &lt;li&gt;SQLite3&lt;/li&gt;
      &lt;li&gt;Mongoose&lt;/li&gt;
      &lt;li&gt;PostgreSQL&lt;/li&gt;
    &lt;/ul&gt; 

    &lt;ul class="DEVOPS"&gt;
      &lt;li&gt;GitHub&lt;/li&gt;
      &lt;li&gt;Docker&lt;/li&gt;
      &lt;li&gt;Bitbucket&lt;/li&gt;
      &lt;li&gt;Travis&lt;/li&gt;
      &lt;li&gt;Heroku&lt;/li&gt;
      &lt;li&gt;AWS&lt;/li&gt;
      &lt;li&gt;Azure&lt;/li&gt;
      &lt;li&gt;Google Cloud Platform&lt;/li&gt;
    &lt;/ul&gt; 

    &lt;ul class="Web Technologies"&gt;
      &lt;li&gt;HTML5&lt;/li&gt;
      &lt;li&gt;CSS3&lt;/li&gt;
      &lt;li&gt;Bootstrap&lt;/li&gt;
      &lt;li&gt;jQuery&lt;/li&gt;
      &lt;li&gt;NodeJS&lt;/li&gt;
      &lt;li&gt;React&lt;/li&gt;
      &lt;li&gt;PHP&lt;/li&gt;
      &lt;li&gt;Sass&lt;/li&gt;
      &lt;li&gt;Less&lt;/li&gt;
      &lt;li&gt;Django&lt;/li&gt;
      &lt;li&gt;Djangon Rest Framework&lt;/li&gt;
    &lt;/ul&gt; 

    &lt;ul class="Frameworks"&gt;
      &lt;li&gt;NumPy&lt;/li&gt;
      &lt;li&gt;Matplotlib&lt;/li&gt;
      &lt;li&gt;Seaborn&lt;/li&gt;
      &lt;li&gt;PyTorch&lt;/li&gt;
      &lt;li&gt;TensorFlow&lt;/li&gt;
      &lt;li&gt;Tessaract OCR&lt;/li&gt;
      &lt;li&gt;NLTK&lt;/li&gt;
      &lt;li&gt;GNU Octave&lt;/li&gt;
      &lt;li&gt;Theano&lt;/li&gt;
      &lt;li&gt;Pandas&lt;/li&gt;
      &lt;li&gt;Android&lt;/li&gt;
      &lt;li&gt;Django Rest Framework&lt;/li&gt;
      &lt;li&gt;Laravel&lt;/li&gt;
      &lt;li&gt;Keras&lt;/li&gt;
    &lt;/ul&gt; 
    </div>

    &lt;pre&gt;
      &lt;code&gt;
        <a class="pro" href="https://github.com/AlQaholic007/GitX/releases">&lt;a href="gitx"&gt;GitX&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        GitX is an open-source, cross-platform 
        application for Github built 
        using Electron with a tonne of 
        customizations!
        &lt;/p&gt;
        </div>
        <a class = "pro" href="https://dev-station.herokuapp.com">&lt;a href="devstation"&gt;DevStation&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        DevStation(<small>powered by Tron</small>) serves as a platform 
        for open-source developers & 
        startups/organizations to connect with each other.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://github.com/AlQaholic007/Tron">&lt;a href="tron"&gt;Tron&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        Tron is an open-source, serverless, lightweight 
        social media platform built using NodeJS, Express 
        EJS and MongoDB.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://github.com/AlQaholic007/human-detection-lwir-imagery">&lt;a href="lwir"&gt;Human Detection in LWIR Imagery&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt; 
        Successfully trained a Naive Bayes Classifier to
        detect humans in post-disaster LWIR imagery
        to aid in rescue operations. Achieved
        an accuracy of 82.17%.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://github.com/AlQaholic007/TurnOn">&lt;a href="turnon"&gt;Smart page turner&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;  
        A smart page turning app which turns pages
        using gaze tracking, served to aid the 
        less fortunate with their reading.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://taskmandjango.herokuapp.com">&lt;a href="taskman"&gt;Taskman&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        A simple task-keeping app built using Django.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://github.com/AlQaholic007/smart-reminder">&lt;a href="smart-reminder"&gt;Smart Reminder&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        A smart task-keeping android application that 
        allows for users to set reminders 
        based on locations.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://github.com/AlQaholic007/Eutony">&lt;a href="eutony"&gt;Eutony&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        Eutony is a powerful, open-source, lightweight, 
        markdown-based blogging engine
        designed for those who want more with less. 
        It powers my personal blogging site.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://github.com/AlQaholic007/BrainVita">&lt;a href="brainvita"&gt;Brainvita(<small>marble game</small>)&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        C graphics implementation of the 
        popular childrens' marble game "Brainvita"
        made as a mini-project for Computer Graphics 
        Lab.
        &lt;/p&gt;
        </div>
        <a class="pro" href="https://github.com/AlQaholic007/Yoda">&lt;a href="yoda"&gt;Yoda&lt;/a&gt;</a>
        <div class="info">
        &lt;p class=&quot;info&quot;&gt;
        In an industry filled with jargons, 
        Yoda saves the day!
        &lt;/p&gt;
        </div>
      &lt;/code&gt;
    &lt;/pre&gt;

    <a target="_blank" href="https://facebook.com/soham.parekh.14">&lt;a href="https://facebook.com/soham.parekh.14"&gt;Facebook&lt;/a&gt;</a>
    <a target="_blank" href="https://github.com/AlQaholic007">&lt;a href="https://github.com/AlQaholic007"&gt;GitHub&lt;/a&gt;</a>
    <a target="_blank" href="mailto:soham.parekh1998@gmail.com">&lt;a href="mailto:soham.parekh1998@gmail.com"&gt;Mail&lt;/a&gt;</a>
    <a target="_blank" href="https://github.com/AlQaholic007/Error500">&lt;a href="https://github.com/AlQaholic007/500"&gt;_source&lt;/a&gt;</a>

    &lt;script src=&quot;jquery-2.2.0.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;highlightjs-9.4.0.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;script.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
  </code>
  </pre>

  <script src="resources/libraries/jquery-2.2.0.min.js"></script>
  <script src="resources/libraries/highlightjs-9.4.0.min.js"></script>
  <script src="resources/script.js"></script>
</body>
</html>
